{% extends "base.html" %} {% block title %}Login{% endblock %}{% block content%}
    <style>
        .login {
            position: relative;
            margin: auto;
            padding: 20px;
            width: 400px; /* Increased size of container */
            background: rgba(0, 0, 0, 0.3); /* Transparent black background */
            border-radius: 3px;
            color: white; /* Text color */
            box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Added minimal shadow */
        }

        .login h1 {
            margin: 0 0 21px;
            line-height: 40px;
            font-size: 50px;
            font-weight: bold;
            color: white;
            text-align: center;
            text-shadow: 0 1px white;
        }

        .login form {
            margin: 0;
            padding: 0;
        }

        .login input[type=text], .login input[type=password], .login input[type=submit] {
            width: calc(100% - 40px); /* Full width minus padding */
            margin: 15px;
            padding: 15px;
            font-size: 20px; /* Increased font size */
            border: none;
            border-radius: 3px;
            outline: none;
        }

        .login input[type=submit] {
            background-color: #002257; /* Button background color */
            color: white; /* Button text color */
            cursor: pointer;
        }

        .login-help {
            color: white;
            margin: 10px 0 0; /* Added margin */
            font-size: 15px; /* Adjusted font size */
            text-align: center;
        }

        .login-help a {
            color:#85C1E9 ;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center; color: white; font-size: 50px; font-weight: bold; margin-top: 80px;">LOGIN</h1>
    <div class="login">
        <form method="post" action="">
            <input type="text" name="email" id="email" value="" placeholder="Email">
            <input type="password" name="password" id="password" value="" placeholder="Password">
            <input type="submit" name="commit" value="Login">
        </form>
    </div>
    <div class="login-help" style="text-align: center;">
        <p>Forgot your password? <a href="#">Click here to reset it</a>.</p>
    </div>
    {% endblock %}
</body>
</html>
