{% extends "base.html" %} {% block title %}Sign Up{% endblock %}{% block content%}

    <style>

        .signup {
            position: relative;
            margin: auto;
            padding: 20px;
            width: 400px; /* Increased size of container */
            height: 500px; /* Increased height of container */
            background: rgba(0, 0, 0, 0.3); /* Transparent black background */
            border-radius: 3px;
            color: white; /* Text color */
            box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Added minimal shadow */
            display: flex;
            flex-direction: column;
            justify-content: center; /* Align items vertically center */
            align-items: center; /* Align items horizontally center */
        }

        .signup h1 {
            margin: 0 0 21px;
            line-height: 40px;
            font-size: 50px;
            font-weight: bold;
            color: white;
            text-align: center;
            text-shadow: 0 1px white;
        }

        .signup form {
            margin: 0;
            padding: 0;
            width: 100%; /* Ensure the form takes full width of container */
            max-width: 300px; /* Limit the form width */
        }

        .signup input[type=email], .signup input[type=text], .signup input[type=password], .signup input[type=submit] {
            width: 100%; /* Make input fields full width of the form */
            margin: 15px 0; /* Adjust margin */
            padding: 15px;
            font-size: 20px; /* Increased font size */
            border: none;
            border-radius: 3px;
            outline: none;
        }

        .signup input[type=submit] {
            background-color: #002257; /* Button background color */
            color: white; /* Button text color */
            cursor: pointer;
        }

        .signup-help {
            color: white;
            margin: 10px 0 0; /* Added margin */
            font-size: 15px; /* Adjusted font size */
            text-align: center;
        }

        .signup-help a {
            color: #85C1E9;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center; color: white; font-size: 50px; font-weight: bold; margin-top: 80px;">SIGNUP</h1>
    <div class="signup">
        <form method="post" action="">
            <input type="email" name="email" id="email" value="" placeholder="Email">
            <input type="text" name="firstName" id="firstName" value="" placeholder="Name">
            <input type="password" name="password1" id="password1" value="" placeholder="Password">
            <input type="password" name="password2" id="password2" value="" placeholder="Confirm Password">
            <input type="submit" name="commit" value="Sign Up">
        </form>
    </div>
    {% endblock %}
</body>
</html>
  